includes:
	- phpstan.baseline.neon
	- vendor/bonami/phpstan-collections/extension.neon
parameters:
	ignoreErrors:
	universalObjectCratesClasses:
		- stdClass
		- DOMElement
		- SimpleXMLElement
	inferPrivatePropertyTypeFromConstructor: true
	reportUnmatchedIgnoredErrors: false
	level: 7
	paths:
		- src/
		- tests/
	tmpDir: /tmp/phpstan
