includes:
    - vendor/bonami/phpstan-collections/extension.neon
parameters:
    ignoreErrors:
    universalObjectCratesClasses:
        - stdClass
        - DOMElement
        - SimpleXMLElement
    inferPrivatePropertyTypeFromConstructor: true
    reportUnmatchedIgnoredErrors: false
    level: 8
    paths:
        - src/
        - tests/
    tmpDir: /tmp/phpstan
