includes:
	- phpstan.baseline.neon
parameters:
	ignoreErrors:
	autoload_directories:
	checkMissingIterableValueType: false
	universalObjectCratesClasses:
		- stdClass
		- DOMElement
		- SimpleXMLElement
	inferPrivatePropertyTypeFromConstructor: true
	reportUnmatchedIgnoredErrors: false
	level: 7
	paths:
		- src/
		- tests/
	tmpDir: /tmp/phpstan
